
/*** use-font ***/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/*** 

====================================================================
  Reset
====================================================================

 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}
/*** 

====================================================================
  Global Settings
====================================================================

 ***/
body {
  font-size:16px;
  color:var(--text-color-1);
  line-height:28px;
  font-weight:400;
  background:var(--white-color);
  font-family: "Jost", sans-serif;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

  @media (min-width:1200px) {
    .container {
      max-width: 1364px;
      padding: 0px 15px;
  }
}

.large-container{
  max-width: 1750px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid{
  padding: 0px;
}

.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
}

.small-container{
  max-width:680px;
  margin:0 auto;
}

.boxed_wrapper{
  position: relative;
  margin: 0 auto;
  /* overflow: hidden !important; */
  width: 100%;
  min-width: 300px;
}

.p_relative {
  position: relative !important;
}


a{
  text-decoration:none;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

a:hover{
  text-decoration:none;
  outline:none;
}

input,button,select,textarea{
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: transparent;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}

input{
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus{
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p{
  position: relative;
  color: var(--text-color-1);
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0px;
  font-weight: 400;;
  transition: all 500ms ease;
}

p:last-child{
  margin-bottom: 0px;
}

h1,h2,h3,h4,h5,h6{
  position:relative;
  font-weight: 600;
  color: var(--black-color);
  margin: 0px;
  transition: all 500ms ease;
}

/* -----------------------------------------------
preloader 
------------------------------------------------- */
.handle-preloader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  background: var(--primary-color);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.preloader-close{
  position: fixed;
  z-index: 99999999;
  font-size: 18px;
  color: var(--primary-color);
  background: var(--white-color);
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  right: 15px;
  top: 15px;
  border-radius: 50%;
}

.loader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.handle-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

.handle-preloader .animation-preloader .spinner{
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 45px auto;
  width: 150px;
}
.handle-preloader .animation-preloader .txt-loading {
  text-align: center;
  user-select: none;
}
.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  animation: letters-loading 4s infinite;
  content: attr(data-text-preloader);
  color: var(--white-color);
  left: 0;
  opacity: 0;
  top:0;
  position: absolute;
}
.handle-preloader .animation-preloader .txt-loading .letters-loading{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: 15px;
  display: inline-block;
  position: relative;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: var(--white-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.30);
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {animation-delay: 0.2s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {animation-delay: 0.4s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {animation-delay: 0.6s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {animation-delay: 0.8s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before { animation-delay: 1s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before { animation-delay: 1.2s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before { animation-delay: 1.4s;}
.handle-preloader .loader-section {
  background-color:  var(--white-color);
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.preloader .loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  color:  var(--white-color);
}

.handle-preloader .animation-preloader .spinner{
  border: 3px solid var(--white-color);
  border-top-color: rgba(255, 255, 255, 0.5); 
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .handle-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }
}
@media screen and (max-width: 500px) {
  .handle-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }
  .handle-preloader .animation-preloader .txt-loading .letters-loading {font-size: 30px; letter-spacing: 10px;}
}
/* -----------------------------------------------
preloader 
------------------------------------------------- */


.centred{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

figure{
  margin: 0px;
}

.logo{
  /*width: 180px;*/
  max-width: 130px;
  margin: 0 auto;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
  transition-property: all;
}


/* -----------------------------------------
scroll-to-top
------------------------------------------- */
.scroll-to-top{
  position: fixed;
  right: 0px;
  bottom: 100px;
  transform: rotate(90deg);
  z-index: 99;
}
.scroll-to-top .visible {
  visibility: visible!important;
  opacity: 1!important;
}
.scroll-to-top .scroll-top-inner {
  opacity: 0;
  visibility: hidden;
}
.scroll-to-top .scroll-top-inner{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
  -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
}
.scroll-to-top .scroll-bar {
  width: 50px;
  height: 2px;
  margin-right: 10px;
  position: relative;
}
.scroll-to-top .scroll-bar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  opacity: .3;
}
.scroll-to-top .scroll-bar .bar-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: currentColor;
}
.scroll-to-top .scroll-bar-text{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 500ms ease;
}
.scroll-to-top .scroll-bar-text:hover{
  transform: scale(1.1);
}
/* -----------------------------------------
scroll-to-top
------------------------------------------- */


/** sec-title **/
.sec-title .sub-title{
  border-radius: 30px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
  padding: 6px 37px;
  text-transform: uppercase;
}

.sec-title .sub-title:before{
  position: absolute;
  content: '';
  background: var(--white-color);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 30px;
  z-index: -1;
}

.sec-title h2{
  line-height: 52px;
}


/* ------------------------ btn ---------------------------*/
.theme-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
  color: var(--black-color) !important;
  text-align: center;
  padding: 14px 70px 14px 30px;
  border-radius: 30px;
  border: 1px solid var(--black-color);
  background: var(--white-color);
  text-transform: capitalize;
  z-index: 1;
  -webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
  -o-transition: all cubic-bezier(.4,0,.2,1) .4s;
  transition: all cubic-bezier(.4,0,.2,1) .4s;
}
.sticky-header .theme-btn {
  padding: 10px 65px 10px 25px;
}
.theme-btn:hover{
padding-right: 77px;
color: var(--primary-color) !important;
border: 1px solid var(--primary-color);
}

.theme-btn:before {
content: '';
position: absolute;
top: 50%;
right: 32px;
-webkit-transform: translateY(-50%) scaleX(1);
-ms-transform: translateY(-50%) scaleX(1);
transform: translateY(-50%) scaleX(1);
width: 18px;
height: 2px;
background: var(--black-color);
transition: all 500ms ease;
-webkit-transform-origin: right;
-ms-transform-origin: right;
transform-origin: right;
transition: all 500ms ease;
-moz-transition: all 500ms ease;
-webkit-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
}

.theme-btn:hover:before {
-webkit-transform: translateY(-50%) scaleX(1);
-ms-transform: translateY(-50%) scaleX(1);
transform: translateY(-50%) scaleX(1);
width: 25px;
background: var(--primary-color);
}

.theme-btn:after {
content: '';
position: absolute;
top: 50%;
right: 32px;
width: 9px;
height: 9px;
border-right: 2px solid var(--black-color);
border-top: 2px solid var(--black-color);
-webkit-transform: translateY(-50%) rotate(45deg);
-ms-transform: translateY(-50%) rotate(45deg);
transform: translateY(-50%) rotate(45deg);
transition: all 500ms ease;
-moz-transition: all 500ms ease;
-webkit-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
}

.theme-btn:hover:after{
border-right: 2px solid var(--primary-color);
border-top: 2px solid var(--primary-color);
}

.theme-btn span{
position: relative;
color: transparent;
}

.theme-btn span:before,
.theme-btn span:after {
content: attr(data-text);
position: absolute;
top: 50%;
left: 0;
-webkit-transform: translateY(-50%) translateX(0);
-ms-transform: translateY(-50%) translateX(0);
transform: translateY(-50%) translateX(0);
width: 100%;
-webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
-o-transition: all cubic-bezier(.4,0,.2,1) .4s;
transition: all cubic-bezier(.4,0,.2,1) .4s;
}

.theme-btn span:before{
color: var(--black-color);
}

.theme-btn span:after{
opacity: 0;
color: transparent;
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent;
}

.theme-btn:hover span:before {
-webkit-transform: translateY(-50%) translateX(-30px);
-ms-transform: translateY(-50%) translateX(-30px);
transform: translateY(-50%) translateX(-30px);
opacity: 0;
}

.theme-btn:hover span:after {
-webkit-transform: translateY(-50%) translateX(0);
-ms-transform: translateY(-50%) translateX(0);
transform: translateY(-50%) translateX(0);
opacity: 1;
}
/* ------------------------ btn ---------------------------*/


/*-------------------- custome-mouse-pointer -----------------------*/
.mouse-pointer {
  position: fixed;
  top: 50%;
  left: -100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.19, .94, .336, 1);
  -o-transition-timing-function: cubic-bezier(.19, .94, .336, 1);
  transition-timing-function: cubic-bezier(.19, .94, .336, 1);
  border-radius: 50%;
  background: var(--primary-color);
  overflow: hidden;
}

body.out .mouse-pointer {
  width: 0;
  height: 0;
}

.mouse-pointer.large {
  width: 65px;
  height: 65px;
  background: rgba(224,36,79,.0) !important;
  -webkit-box-shadow: 0 0 30px rgba(96, 165, 72, 0.4);
  box-shadow: 0 0 30px rgba(96, 165, 72, 0.4);
}

.mouse-pointer.small {
  width: 25px;
  height: 25px;
  background: rgba(227,87,18,0);
  -webkit-box-shadow: 0 0 30px #e35712;
  box-shadow: 0 0 30px #e35712;
}

.mouse-pointer.right {
  width: 50px;
  height: 50px;
  background: var(--black-color) !important;
}

.mouse-pointer.right.large .icon{
  opacity: 0;
}

.mouse-pointer.right.large{
  background: transparent !important;
}

.mouse-pointer.zoom,
.mouse-pointer.open {
  width: 80px;
  height: 80px;
  background: rgba(227,87,18,0);
  border: 2px solid #e35712;
}

.mouse-pointer .icon{
  color: var(--white-color);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  opacity: 0;
  -webkit-transition: .4s cubic-bezier(.225, 1, .316, .99);
  -o-transition: .4s cubic-bezier(.225, 1, .316, .99);
  transition: .4s cubic-bezier(.225, 1, .316, .99);
}

.mouse-pointer .icon i{
  margin: 0px 3px;
}

.mouse-pointer.right .icon {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.mouse-pointer.black.large {
  background: rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.mouse-pointer.black.right {
  background: rgba(0,0,0,0);
  border: 2px solid var(--black-color);
}

.touch .mouse-pointer {
  display: none;
}
/*-------------------- custome-mouse-pointer -----------------------*/